<mat-toolbar color="primary"
  >Accubits Technology
  <mat-icon>shopping_cart</mat-icon>
</mat-toolbar>
<br />
<div class="input-group container">
  <input
    type="search" [(ngModel)]="msg" 
    class="form-control"
    placeholder="Search"
    aria-label="Search"
  />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>
<br />
<ul
  *ngFor="let item of arrayList | paginate: { itemsPerPage: 5, currentPage: p , totalItems: total} | filter: msg"
>
  <li>
    <div>
      <span> {{ item.id }}</span
      ><span> {{ item.title }} </span>
    </div>
    <br />
    <div>
      <span> <button class="btn btn-warning btn-sm">Add to Cart</button></span>
      <span style="margin-left:20px"
        ><button class="btn btn-success btn-sm">Buy Now</button></span
      >
    </div>
  </li>
</ul>

<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
<mat-toolbar
  style="background-color:black;color:white; position:absolute;
bottom:0;
"
  ><span style="position:absolute;right:10px;"
    >Accubits Technology @copyright</span
  >
</mat-toolbar>
